:root {
  --font-poppins: "Poppins", sans-serif;
  --theme: #8640e0f6;
  --transition: all 0.3s ease-in;
  --theme2: #ffc814;
  --text-color-grey: #7c7b7b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-poppins);
  user-select: none;
}

.custom-toast > div {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19) !important;
  color: var(--theme) !important;
  font-weight: 700;
  font-size: 1rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* // loadingBar */

.loadingBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loadingBar span {
  margin: 5px;
  width: 30px;
  height: 80px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transform-origin: bottom center;
  animation: barAnimate 1.3s linear infinite;
}

.loadingBar .bar-1 {
  animation-delay: 0.1s;
}
.loadingBar .bar-2 {
  animation-delay: 0.2s;
}
.loadingBar .bar-3 {
  animation-delay: 0.3s;
}
.loadingBar .bar-4 {
  animation-delay: 0.4s;
}
.loadingBar .bar-5 {
  animation-delay: 0.5s;
}
.loadingBar .bar-6 {
  animation-delay: 0.6s;
}
.loadingBar .bar-7 {
  animation-delay: 0.7s;
}
.loadingBar .bar-8 {
  animation-delay: 0.8s;
}

@keyframes barAnimate {
  0% {
    transform: scaleY(0.1);
    background-color: var(--theme);
  }
  50% {
    background-color: var(--theme2);
    transform: scaleY(1.2);
  }
  100% {
    background-color: var(--theme);
    transform: scaleY(0.1);
  }
}
/* bar end  */

.register-logo {
  margin: auto;
  width: 200px;

  object-fit: contain;
  border-radius: 50px;
  border: 2px solid var(--theme);
}

.navbar-color {
  background-color: var(--theme) !important ;
}

.nav-item * {
  color: #fff !important;
  font-size: 1rem !important;
  font-family: var(--font-poppins);
  font-weight: 200 !important;
}
.navbar-brand {
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 1.3rem !important;
}

.dropdown-menu * {
  color: var(--theme) !important;
}

.product-main-img {
  width: 150px;
  height: 150px;
}
.product-img {
  max-width: 30px;
  object-fit: contain;
  object-position: center;
}
.nav-logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
}

.theme:hover {
  background: var(--theme) !important;
  color: #fff !important;
  margin: auto;
  transition: var(--transition);
  transform: scale(1.2);
}

.theme {
  background: #fff !important;
  border: 1px solid var(--theme) !important;
  color: var(--theme) !important;
  margin: auto;
}
.theme2:hover {
  background: var(--theme2) !important;
  color: #fff !important;
  transform: scale(1.2);
}

.theme2 {
  background: #fff !important;
  border: 1px solid var(--theme2) !important;
  color: var(--theme2) !important;
  transition: var(--transition);
}

.theme.br {
  border-radius: 50%;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.imageUrlsDiv {
  width: 400px;
  height: 200px;
}

/* // product-detail */

.addToCart {
  background-color: var(--theme2);
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  transition: var(--transition);
}
.addToCart:hover {
  transform: scale(1.1);
  background-color: var(--theme);
}
.addToFavori {
  color: var(--theme2);
  border: none;
  width: 200px;
  height: 50px;
  background-color: #fff;
  transition: var(--transition);
}
.addToFavori:hover i {
  transform: scale(1.3);
}
.addToFavori:hover {
  color: var(--theme);
}

.priceDetail {
  color: var(--theme);
  font-weight: 800;
  font-size: 1.5rem;
  position: relative;
}
.priceDetailSpan {
  color: var(--theme2);
  font-size: 1.4rem;
}
.priceDetail:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 130px;
  background-color: #ffc814;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s linear;
  margin-top: 2rem;
}
.priceDetail:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
.nameDetail {
  font-weight: 500;
  color: var(--text-color-grey);
}

.imgDetail {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  width: 800px;
  height: 500px !important;
  border-radius: 20px;
}
.imgDetails {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin: 5px;
  border-radius: 20px 20px 0px 0px;
}
.imgDetails:hover {
  box-shadow: 0 4px 0px 0 var(--theme), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}
.imgDetails img {
  object-fit: fill;
  width: 80px;
  height: 100px;
}

.quantityBtnPlus {
  background: var(--theme) !important;
  border: 1px solid var(--theme) !important;
  color: #fff !important;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 10px 0px 0px 10px;
}
.quantityBtnMinus {
  background: var(--theme) !important;
  border: 1px solid var(--theme) !important;
  color: #fff !important;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 0px 10px 10px 0px;
}

.quantitySpan {
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 8px;
  border: 2px solid var(--theme);
  font-weight: 600;
}
/* ---UInavbar */

.UInavbar {
  background-color: var(--theme);
}

.shoppingCartCount {
  border-radius: 50px;
  background-color: var(--theme2);
  color: var(--theme);
  padding: 3px 8px;
  transition: transform 0.5s linear;
  font-weight: 700;
}
.shoppingCartCount:hover {
  border-radius: 0px;
}

.uıNav {
  text-decoration: none;
  color: white !important;
  position: relative;
  font-family: var(--font-poppins) !important;
  font-size: 1rem;
  font-weight: 500;
}
.uıNav:hover {
  color: #ffc814 !important;
}

/* end uıNavbar*/

/*themeDiv- login-register*/

.themeDiv {
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 var(--theme2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}
.themeDiv:hover {
  box-shadow: 0 4px 4px 0 var(--theme), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn-theme {
  color: #fff !important;
  background-color: var(--theme) !important;
  border-color: var(--theme) !important;
  transition: var(--transition);
}
.btn-theme:hover {
  transform: scale(1.2);
  background-color: var(--theme2) !important;
  border-color: var(--theme2) !important;
}

/* end ---r*/

/* --index 3000/ */
.productCard {
  border-radius: 20px;
  height: 450px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 4px 0 var(--theme2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);

  transition: var(--transition);
}

.productCard:hover {
  box-shadow: 0 4px 4px 0 var(--theme), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
}

.productCard img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  opacity: 0.7;
}
.productCard:hover.productCard img {
  opacity: 1;
}

.productName {
  font-size: 1rem;
  color: var(--theme);
  font-weight: 600;
  opacity: 0.7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.productCard h6 {
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: #7c7b7b;
}
.productCard h6.price {
  color: var(--theme);
  font-size: 1.5rem;
}
h6.price span {
  background-color: var(--theme2);
  padding: 5px 20px;
  margin-left: 5px;
  border-radius: 20px;
}

.categories-uı {
  font-family: var(--font-poppins);
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 var(--theme2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  color: #2f2f2fa4;
}
.categories-uı.active,
.categories-uı:hover {
  border-right: 5px solid var(--theme);
  color: var(--theme);
}

.filter {
  font-family: var(--font-poppins);
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 var(--theme2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  color: #2f2f2f;
}
/* --END */

/*shoppingCarts*/
.shoppingCartsImg {
  width: 100%;
  height: 100%;
}
.shoppingCarts .priceDetail:before {
  width: 100px;
}
/*--end--*/
