.shoppingCartCount {
  display: inline-block;
  border-radius: 50px;
  background-color: var(--theme3);
  color: #fff;
  padding: 12px 10px;
  transition: transform 0.5s linear;
  font-weight: 700;
}
.shoppingCartCount:hover {
  transform: scale(0.8);
}
.uıNav {
  text-decoration: none;
  color: white !important;
  position: relative;
  font-family: var(--font-poppins) !important;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 20px;
}
.uıNav:hover {
  color: var(--theme3) !important;
}

.uıMenu {
  background-color: #3d3c3c42 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: 0 4px 8px 0 var(--theme3), 0 6px 20px 0 rgba(230, 227, 227, 0.19);
  backdrop-filter: blur(50px);
  margin-top: 10px !important;
}
.uıMenu * {
  color: #fff !important;
}
.uıMenu li * {
  padding: 10px !important;
}

.uıMenu li:hover * {
  background-color: #1d1a1a21;

  color: #fff !important;
}

.imgLogoDiv {
  height: 150px !important;
  width: 300px !important;
  object-fit: contain;
}
